trunk/app/RomViewer.Tests/romitem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="romitem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="itemid" type="xs:unsignedInt" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="iconpath" type="xs:string" />
        <xs:element name="quality" type="xs:unsignedByte" />
        <xs:element name="level" type="xs:unsignedByte" />
        <xs:element name="tooltip" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>